body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("./../img2.jpeg");
}

#ever {

    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 9fr 3fr;
}

/*#ever > div {
    background-color: rgb(254, 159, 72);
    height: 100%;
}*/

#send {
    height: auto;
    background-color: rgba(209, 192, 142, 0.6);
    border-width: 2px;
    border-style: solid;
    /*border-radius: 15px;*/
    border-color: rgb(250, 149, 9);
}

#send > * {
    background-color: inherit;
    border-radius: 15px;
    border-color: rgb(46, 169, 242);
    border-width: 2px;
    border-style: solid;
    text-align: center;
    color: rgba(154, 154, 154, 0.74);

}

#check {
    color: rgb(45, 45, 45);
}

#reset {
    color: rgb(45, 45, 45);
}

#send {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25%;
    grid-column-gap: 15px;
    padding: 5%;
    padding-top: 35%;
    padding-bottom: 35%;
}

#mapid {
    /*display: none;*/
    height: auto;
    /*margin-right: 30%;*/
}

#submit {
    color: rgb(45, 45, 45);
    
    grid-column-start: 1;
    grid-column-end: 2;

}
