body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#ever {

    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 9fr 3fr;
}

/*#ever > div {
    background-color: rgb(254, 159, 72);
    height: 100%;
}*/

#send {
    height: auto;
    /* background-color: rgba(209, 192, 142, 0.6); */
    border-width: 2px;
    border-style: solid;
    /*border-radius: 15px;*/
    border-color: rgb(250, 149, 9);
}

#send > * {
    background-color: inherit;
    border-radius: 15px;
    border-color: rgb(46, 169, 242);
    border-width: 2px;
    border-style: solid;
    text-align: center;
    color: rgba(154, 154, 154, 0.74);

}

#check {
    color: rgb(45, 45, 45);
}

#send {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25%;
    grid-column-gap: 15px;
    padding: 5%;
    padding-top: 35%;
    padding-bottom: 35%;
}

#mapid {
    /*display: none;*/
    height: auto;
    width: 100%;
    /*margin-right: 30%;*/
}

#submit {
    color: rgb(45, 45, 45);
    
    grid-column-start: 1;
    grid-column-end: 2;
    transition: 0.1s;
}

#submit:hover {
    box-shadow: inset 0 0 0 5px #53ea93;
    /* background: rgba(157,245,174,1);
    background: -moz-linear-gradient(-45deg, rgba(157,245,174,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(157,245,174,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(157,245,174,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(157,245,174,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(157,245,174,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(135deg, rgba(157,245,174,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9df5ae', endColorstr='#ffffff', GradientType=1 ); */
}
